<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">MEDIKAGO</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto" id="navbarmedikago">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sesi Konsultasi</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'sesi_konsultasi:daftar_sesi_konsultasi' %}">Daftar Sesi Konsultasi</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Poliklinik</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'layanan_poliklinik' %}">Daftar Layanan Poliklinik</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">RS Cabang</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'rs_cabang:daftar_rs_cabang' %}">Daftar RS Cabang</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'rs_cabang:dokter_rscabang' %}">Daftar Dokter RS Cabang</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Resep & Obat</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'daftar resep' %}">Daftar Resep</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'daftar obat' %}">Daftar Obat</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Transaksi</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'daftar transaksi' %}">Daftar Transaksi</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" href="/profil/{{request.session.username}}/">Profil</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" href="{% url 'logout' %}">Sign Out</a>
            </li>
        </ul>
    </div>
</nav>


