{% load static %}

<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="{% static 'registrasi_user/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'registrasi_user/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'registrasi_user/style.css' %}">
    <script>
        function popupCon() {
        if (confirm("Apakah data yang anda masukkan sudah benar?")) {
            return true;
            } 
        else {
            return false;
            }
        }
    </script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>  
    <script src="{% static 'registrasi_user/js/pasien.js' %}"></script>

    <title>Medikago | Pendaftaran Pasien</title>
</head>

<body>
        <div class = "judul">
            <h1>Form Pendaftaran Pasien</h1>
        </div>

        <div class="warning">
            <h3>{{error}}</h3>
        </div>
    
        <div class = "isian">
            <form action="." method="POST">
                
                {% csrf_token %}
                <div class="formulir">
                    {{form.as_p}}
                    <div class="link_formset">
                        {{formset}}
                    </div>
                </div>

                <a class="add_form" href="#">[tambah]</a>
                <a class="delete_form" href="#">[hapus]</a>
    
                <div class="tombol">
                    <button value="submit request" onclick="return popupCon()" type="submit" name="button-submit" class="btn btn-primary">Daftar</button>
                </div>
    
            </form>
        </div>
    </body>
</html>