{% load static %}

<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="{% static 'registrasi_user/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'registrasi_user/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'registrasi_user/style.css' %}">

    <title>Medikago | Pilih Role</title>
</head>

<body>
        <div class = "judul">
            <h1>Pilih Role Anda</h1>
        </div>
    
        <div class="container-fluid" id="wrapper-top">
            <div class="row mx-lg" id="gobs">
                <ul>
                    <li>
                        <a href="{% url 'admin' %}" class="coba">
                            <button type="button" class="status">Administrator</button>
                        </a>  
                    </li>
                </ul>
                <ul>
                    <li>
                            <a href="{% url 'dokter' %}" class="coba2">
                            <button type="button" class="status">Dokter</button>
                        </a>
                    </li>
                </ul>       
                <ul>
                    <li>
                            <a href="{% url 'pasien' %}" class="coba3">
                            <button type="button" class="status">Pasien</button>
                        </a>
                    </li>
                </ul>                     
            </div>
        </div>

    </body>
</html>