/* style navbar */
.navbar-brand {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.3rem;

    color: #252C29;
    margin-left: 2rem;
}

#navbarmedikago {
    margin-right: 1rem;
}

.nav-item {
    margin-right: 1rem;
}
/* style navbar */

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

.judul {
    display: flex;
    justify-content: center;
    padding-top : 3rem;
    padding-bottom: 1rem;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.7rem;

    color: #252C29;
}

h2 {
    display: flex;
    justify-content: center;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
    padding-top: 1.5rem;
}

h6 {
    display: flex;
    justify-content: center;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    padding-top: 0.5rem;
}

/* daftar obat */
.tabel {
    padding: 0 2rem;
    padding-top: 0.5rem;
    padding-bottom: 2rem;
}

th, td {
    text-align: center;
}

button[type=submit] {
    background-color : #252C29;
    border: 2px solid #252C29;
    padding: 0.5rem 2rem;

    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
}

button[type=submit]:hover {
    background-color : #252C29;
    border: 2px solid #252C29;
    color: #FFFFFF;
}

.back button[type=submit] {
    color: #252C29;
    background-color : #FFFFFF;
    border: 2px solid #252C29;
    padding: 0.5rem 1rem;

    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;

    display: flex;
    justify-content: center;
}

.back button[type=submit]:hover {
    background-color : #252C29;
    border: 2px solid #252C29;
    color: #FFFFFF;
}

.back {
    display: flex;
    justify-content: center;
    padding-top: 2.5rem;
}