{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css"  href="{% static 'style.css' %}">

    <title>Medikago | Update Sesi Konsultasi</title>

  </head>

  <body>
    {% include 'menu/menuAdmin.html' %}

    <section id = "konsultasi" class = "registrasi">
      <div class = "container-fluid">
        <div class = "row">
          <div class = "col d-flex justify-content-center">
            <div class = "judul">
              <h1>Form Update Sesi Konsultasi</h1>
            </div>
          </div>
        </div>

        <form action="." method="POST">
        {% csrf_token %}
          <div class = "row">
            <div class = "col">
              ID Konsultasi: {{form.ID_Konsultasi}}
              <br/>
              Nomor Rekam Medis Pasien: {{form.Nomor_Rekam_Medis_Pasien}}
              <br/>
              Tanggal: {{form.Tanggal}}
              <br/>
              Biaya: {{form.Biaya}}
              <br/>
              Status: {{form.Status}}
              <br/>
              ID Transaksi: {{form.ID_Transaksi}}
            </div>
          </div>

          <div class = "row">
            <div class = "col d-flex justify-content-center">
              <input type="submit" class="btn btn-dark" value="UPDATE">
            </div>
          </div>
        </form>
      </div>
    </section>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/8d51ef034d.js" crossorigin="anonymous"></script>
    <script src="{% static 'profil/js/jquery.slim.min.js' %}"></script>
    <script src="{% static 'profil/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'profil/js/select2.min.js' %}"></script></body>
</html>
