{% load static %}

<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="{% static 'obat/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'obat/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'styleTransaksi.css' %}">
    
    <title>Medikago | Update Transaksi</title>
</head>

<body>
    <div>
        <div class="judul">
            <h1> Form Update Transaksi</h1>
        </div>

        {% include 'menu/menuAdmin.html' %}

        <form action="#" method="POST">
            
            {% csrf_token %}
            <div class="formulir">
                {{form.as_p}}
            </div>

            <div class="tombol">
                <button type="submit" name="button-submit" class="btn btn-primary">Submit</button>
            </div>

        </form>

        <a href="/daftar-transaksi/">
            <button class="btn btn-dark">Kembali</button>
        </a>
    </div>
    <script src="{% static 'profil/js/jquery.slim.min.js' %}"></script>
    <script src="{% static 'profil/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'profil/js/select2.min.js' %}"></script>
</body>

</html>