{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medikago | Update Layanan Poliklinik</title>

    <link rel="stylesheet" href="{% static 'obat/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'obat/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'obat/style.css' %}">
</head>
<body>
    {% include 'menu/menuAdmin.html' %}

    <div class = "judul">
        <h1>Update Layanan Poliklinik</h1>
    </div>

    <div class = "isian">
        <form action="" method="POST">
            {% csrf_token %}
                <div class="formulir">
                    {{form.as_p}}
                </div>
    
                <div class="tombol">
                    <button type="submit" name="button-submit" class="btn btn-primary">Update</button>
                </div>
        </form>
    </div>
    <script src="{% static 'profil/js/jquery.slim.min.js' %}"></script>
    <script src="{% static 'profil/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'profil/js/select2.min.js' %}"></script>
</body>
</html>